{% extends 'admin/base.html' %}

{% block content %}
  {% if messages %}
    <div class="alert alert-success messages">
        {% for message in messages %}
          <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
        {% endfor %}
    </div>
  {% endif %}

  <h2 style="text-align: center;">Broadcasted Messages</h2>
  <table class="table">
    <thead>
      <tr>
        <th>To</th>
        <th>Subject</th>
        <th>Sent</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for message in broadcast_message_sent %}
        <tr>
          <td>Users</td>
          <td><a href="{% url 'accounts:broadcast_message_detail' message.id %}">{{ message.subject }}</a></td>
          <td>{{ message.timestamp|date:"M d, Y H:i" }}</td>
          <td><a href="#"><button class="btn btn-danger">Delete</button></a></td>
        </tr>
      {% empty %}
        <tr><td colspan="3">No sent messages.</td></tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'accounts:broadcast_message' %}" class="btn btn-primary">Compose</a>
{% endblock %}
