{% extends 'index.html' %}


{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  {% if messages %}
  <div class="alert alert-success messages">
      {% for message in messages %}
          <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
      {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills flex-column flex-md-row mb-3">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Account</a>
        </li> <!--
        <li class="nav-item">
          <a class="nav-link" href="pages-account-settings-notifications.html"
            ><i class="bx bx-bell me-1"></i> Notifications</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages-account-settings-connections.html"
            ><i class="bx bx-link-alt me-1"></i> Connections</a
          >
        </li> -->
      </ul>
      <div class="card mb-4">
        <h5 class="card-header">Profile Details</h5>
        <!-- Account -->
        <div class="card-body">
          <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img
            src="{{ request.user.employee.profile_pic.url }}"
              alt="user-avatar"
              class="d-block rounded"
              height="100"
              width="100"
              id="uploadedAvatar"
            />
            <div class="button-wrapper">
              <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                <span class="d-none d-sm-block">Upload new photo</span>
                <i class="bx bx-upload d-block d-sm-none"></i>
                {{form.profile_pic}}
              </label>
              <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
          <form id="formAccountSettings" method="POST" action="{% url 'userSetting' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                {{form.Full_Name}}
              </div>
              <div class="mb-3 col-md-6">
                <label for="lastName" class="form-label">Title</label>
                {{form.Title}}
              </div>
              <div class="mb-3 col-md-6">
                <label for="email" class="form-label">Department</label>
                {{form.Departments}}
              </div>
              <div class="mb-3 col-md-6">
                <label for="organization" class="form-label">Phone Number</label>
                {{form.Phone}}
              </div>
              <div class="mb-3 col-md-6 mb-2">
                <label class="form-label" for="phoneNumber">Address</label>
                <div class="input-group input-group-merge">
                  {{form.Address}}
              </div>
              <div class="mb-3 col-md-6 mt-4">
                <label for="state" class="form-label">Date of Birth</label>
                {{form.Date_of_Birth}}
              </div>
              <div class="mb-3 col-md-6">
                <label for="zipCode" class="form-label">Marital Status</label>
                {{form.Marital_Status}}
              </div>
              <div class="mb-3 col-md-6 mt-4">
                <label for="address" class="form-label">Profile Picture</label>
                {{form.profile_pic}}
              </div>
            </div>
            <div class="mt-2">
              <button type="submit" class="btn btn-primary me-2" name="Update Information">Save changes</button>
              <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div>
          </form>
                {% if form.errors %}
                  {% for field in form %}
                    {% if field.errors %}
                      <div class="alert alert-danger">
                        {{ field.label }}:
                        {% for error in field.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endfor %}
               {% endif %}

        </div>
        <!-- /Account -->
      </div>
    </div>
  </div>
</div>
{% endblock content %}


  